<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanticheart.secrets">

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${labelName}"
        android:roundIcon="${appIcon}_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dokka">
        <activity
            android:name="com.quanticheart.secrets.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>